.heading{
    font-size: 5rem;
}
img:hover {
 transform: scale(1.05); 
  opacity: 0.6;          
}
h1:hover{
    color: rgb(244, 85, 85);
}
h2:hover{
    color: rgb(244, 85, 85);
}
a:hover{
    color: white;
}
hr {
  border: none; 
  height: 1px; 
  background-color: #3d3737; 
  margin: 20px 0; 
}
